/* dark_theme.qss - Inspired by Dracula Theme */

/* General settings */
QWidget {
    background-color: #181920;
    color: #f8f8f2;
    font-family: "Poppins";
    font-size: 20px;
}


QLabel {
    color:#bd93f9
    
}


QComboBox {
    color:#dedede;
    background-color: #181920
    
}
QComboBox::placeholder{
    color:#202020;
}
QComboBox::hover {
    background-color: #2471a3;
    color: #202020;
    border: 2px solid #154360;
}

QComboBox::down-arrow {
    image: url(app/gui/img/arrow.png);
    width: 14px;
    height: 14px;
}
QComboBox::down-arrow:on { /* Cuando se despliega la lista */
    top: 2px; 
    left: 2px;
}


/* QPushButton settings */
QPushButton {
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}




QPushButton:hover {
    background-color: #6272a4;
}

QPushButton:pressed {
    background-color: #bd93f9;
    color: #181920;
}

/* QTableWidget settings */
/*#282a26*/
QTableWidget {
    background-color: #181920;
    border: 2px solid #2e86c1; 
    font-size:15px;
    font-weight: bold;
    gridline-color: #2c3e50;
    color: #f8f8f2;
}

QHeaderView::section {
    background-color: #2f323d;
    color: #abb2b9;
    font-size:17px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #1c2833;
}

QTableWidget::item {
    padding: 0;
    text-align: center;  /* Centrar el texto en las celdas */

    
}

 


QIcon{
    padding:15px;
}


QTableWidget::item:selected {
    background-color: #d2b33a;
    color: #181920;
}



/* QLineEdit settings */
QLineEdit {
    background-color: #373a48;
    color: #f8f8f2;
    border: 2px solid #2471a3;
    padding: 5px;
    border-radius: 4px;
}

/* QMainWindow settings */
QMainWindow {
    background-color: #1d1f27;
}

/* QScrollBar settings */
QScrollBar:vertical {
    background-color: #44475a;
    width: 15px;
}

QScrollBar::handle:vertical {
    background-color: #6272a4;
    min-height: 20px;
    border: 1px solid #181920;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background-color: #44475a;
    height: 15px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background-color: #44475a;
}

/* QScrollBar horizontal settings */
QScrollBar:horizontal {
    background-color: #44475a;
    height: 15px;
}

QScrollBar
