paramiko==3.4.0         # Biblioteca para SSH
ping3==4.0.8           # Biblioteca para ICMP (puedes usar scapy para ICMP)
PySide6==6.7.2    
SQLAlchemy==2.0.31      # ORM para SQLite
python-dotenv==1.0.1 
scp==0.15.0